## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero_entero=15
print(numero_entero)

15

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(numero_entero)

int

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre= 'Jordy'
print(mi_nombre)

Jordy

5) Crear una constante que contenga el número Pi

In [6]:
PI=3.141516

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(PI)

float

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var1=True
var2='True'
print('Se trata de lo mismo?')
if var1==var2:
    print('Si, es lo mismo')
else:
    print('No es lo mismo')

Se trata de lo mismo?
No es lo mismo

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
type(var1),type(var2)

(bool, str)

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
suma=5+4.5
print(f'La suma es: {suma}')

La suma es: 9.5

11) Realizar una operación de suma de un número definido como string con un entero

In [13]:
num1='5'
num2=15
suma= num1 + num2
print(suma)

TypeError: can only concatenate str (not "int") to str

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [14]:
numero=5**3
numero

125

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [16]:
PI=3.141516
a=int(input(print('Ingresar numero:')))
print(f'axPI={a*PI}')

Ingresar numero:
axPI=6.283032

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [17]:
resultado=27/4
print(resultado)

6.75

15) De la división anterior solamente mostrar la parte entera

In [21]:
resultado_entero=27//4
print(resultado_entero)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
resto=27%4
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
resultado=4*6+3
print(resultado)

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [39]:
def tipo_variable(a,b):
    if type(a)==type(b):
        return print('Son iguales')
    else:
        return print(f"No son iguales, ya que var1 es de tipo:{type(a)} y var2 es de tipo:{type(b)}")

In [40]:
var1='2'
var2=2
tipo_variable(var1,var2)

No son iguales, ya que var1 es de tipo:<class 'str'> y var2 es de tipo:<class 'int'>

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [41]:
var1_ent=int("2")
tipo_variable(var1_ent,var2)

Son iguales

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [45]:
a = "3,8"
a = a.replace(",", ".")
numero = float(a)
print(numero)

3.8

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [47]:
resultado_1=2+int('2') # Este resultado sera cuando las dos operandos son del tipo int
resultado_2=str(2)+'2' # Este resultado sera cuando las dos operandos son del tipo str
print(resultado_1,resultado_2)

4 22

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [50]:
menu="""
MENU
1) Pizza      2) Empanadas
3) Milanesas  4) Salir

"""
print(menu)

MENU
1) Pizza      2) Empanadas
3) Milanesas  4) Salir

23) Crear una lista que contenga los números del 1 al 10

In [53]:
lista1=[1,2,3,4,5,6,7,8,9,10]
lista2=[]
for i in range(1,11):
    lista2.append(i)
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [55]:
lista2[-2]

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [56]:
lista2[2]='jordy'
print(lista2)

[1, 2, 'jordy', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [59]:
matriz = [['A','B','C'],['D','E','F'],['G','H','I']]

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [60]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [62]:
matriz[1][1]='Z'
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [65]:
matriz[0]=[1,2,3]
matriz

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [67]:
marcas_ropa=('Nike','Adidas','Reebok','Umbro','Puma')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [69]:
marcas_ropa[0]

'Nike'

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [70]:
marcas_ropa[1]='Jordy'

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [71]:
datos={'nombre':'jordy',
       'apellido':'acosta',
       'edad':21,
       'hobbies':'programar'}
print(datos)

{'nombre': 'jordy', 'apellido': 'acosta', 'edad': 21, 'hobbies': 'programar'}

In [73]:
datos_2=dict(nombre='jordy',apellido='acosta',edad='30',hobbies='programar')
datos_2

{'nombre': 'jordy', 'apellido': 'acosta', 'edad': '30', 'hobbies': 'programar'}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [78]:
datos['hobbies']

'programar'

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [79]:
datos['edad']=28
datos

{'nombre': 'jordy', 'apellido': 'acosta', 'edad': 28, 'hobbies': 'programar'}